@page "/"
@inject PostService postService

<h1>Index</h1>

Welcome to your new app
<div class="spacer-2"></div>


@if(posts != null){
    @foreach (var post in posts)
    {
        <div class="card mb-3">
            @* <img class="card-img-top" src="holder.js/100x180/" alt=""> *@
            <div class="card-body">
                <h4 class="card-title">
                    <NavLink href="@($"/post/{post.Id}")">
                        @post.Title
                    </NavLink>
                </h4>
                <p class="card-text">@post.Content</p>
            </div>
            <div class="card-footer">
                <a href="@($"/post/{post.Id}")" class="btn btn-primary">Read</a>
            </div>
        </div>
    }
}

@code {
    private List<Post> posts = null;

    async protected override Task OnInitializedAsync()
    {
        posts = await postService.List();
    }
}
