@page "/items"
@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq

@inject PostService postService

<h1>ITEMS</h1>


<PostList />


@code{
    List<Post> posts = null;

    async protected override Task OnInitializedAsync()
    {
        //posts = await postService.ListAsync();
    }
}