@page "/items"
@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq

@inject PostService postService

<div class="d-flex justify-content-between ">
        <div class="d-flex align-items-center">
            <h1>Posts</h1>
        </div>
        <div class="d-flex align-items-center">
            <a href="/edit" class="btn btn-primary text-white">Add new</a>
        </div>
</div>


<PostList />


@code{
    List<Post> posts = null;

    async protected override Task OnInitializedAsync()
    {
        //posts = await postService.ListAsync();
    }
}