@page "/meta"
@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq

@*@inject OptionsService optionsService*@

<div class="d-flex justify-content-between ">
    <div class="d-flex align-items-center">
        <h1>Meta</h1>
    </div>
    <div class="d-flex align-items-center">
        <a href="/editmeta" class="btn btn-primary text-white">Add new</a>
    </div>
</div>


<MetaList/>


@code{
    //List<Post> posts = null;

    async protected override Task OnInitializedAsync()
    {
        //posts = await postService.ListAsync();
    }
}