@page "/editmeta"
@page "/editmeta/{Id:guid}"

@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq

<h1>Add meta</h1>


<MetaEdit id="@Id" />

@code {
    [Parameter]
    public Guid? Id { get; set; }
}