@page "/meta"
@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq

@*@inject OptionsService optionsService*@

<h1>Meta</h1>


<MetaList/>


@code{
    //List<Post> posts = null;

    async protected override Task OnInitializedAsync()
    {
        //posts = await postService.ListAsync();
    }
}