@layout LayoutNoSidebar
@page "/nodered"
@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq
@using BlazorJob.Nodes


@inject NodeRedService nodered

<div class="row no-gutters">
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Palette (@nodes.Count)</h4>
                <p class="card-text">

                </p>
            </div>
            <ul class="list-group">
                @foreach(var node in nodes){
                    <li class="list-group-item px-2 py-1">
                        <svg width="160" height="46" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <NodeComponent node="@node"/>
                        </svg>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-10">
        <div class="">
            <NodeRedWorkspace nodes="@nodes" style="height: 700px;" />
        </div>
    </div>
</div>





@code{
    List<Node_InPalette> nodes = new List<Node_InPalette>();

    protected override void OnInitialized()
    {
        nodes = nodered.PaletteList();
    }
}