@page "/editoption"
@page "/editoption/{Id:long}"

@using BlazorJob.Data
@using System
@using System.Collections.Generic
@using System.Linq

<h1>Add option</h1>


<OptionEdit id="@Id" />

@code {
    [Parameter]
    public long? Id { get; set; }
}