@inject OptionsService optionsService
@inject NavigationManager navigationManager

<div class="bg-white text-black d-flex flex-column justify-content-between" style="height: 100%;">
    <div>
        <DrawMenu Menu=Menu />
    </div>
    <div class="text-secondary px-2 py-1">
        ver: 0
    </div>
</div>

@code {
    BlazorJob.Services.MenuForDraw Menu { get; set; }

    protected override void OnInitialized()
    {
        Menu = optionsService.GetMenu();

        
    }

    
}